<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>File finder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.min.js"></script>
    <!-- element-ui 样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus@1.0.1-alpha.15/lib/theme-chalk/index.css">
    <!-- element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/element-plus@1.0.1-alpha.15/lib/index.js"></script>
</head>

<body>
    <div id="app">

        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="18">
                        <b>File finder</b>
                    </el-col>
                    <el-col :span="6">
                        <el-input v-model="searchTxt" size="mini" placeholder="请输入文件名称">
                            <template v-slot:append>
                                <el-button icon="el-icon-search" v-on:click="search"></el-button>
                            </template>
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <i style="font-size: 12px;">Last update: {{updateTime}}</i>
                </el-row>
            </el-header>
            <el-container>
                <el-aside style="width: 200px;">
                    <el-card>
                        <div slot="header" class="clearfix">
                        </div>
                        <el-tree @node-click="fileFilter" style="overflow: auto;" :data="filesTree"></el-tree>
                    </el-card>
                </el-aside>
                <el-main>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <el-row>

                                <el-breadcrumb separator="/">
                                    <el-breadcrumb-item v-for="(dir,index) in fileDir" :key="index">{{dir}}
                                    </el-breadcrumb-item>
                                </el-breadcrumb>
                            </el-row>
                        </div>
                        <el-table size="mini" stripe :data="targetFiles" style="width: 100%">
                            <el-table-column prop="fileName" label="文件名">
                            </el-table-column>
                            <el-table-column prop="createDate" label="创建日期">
                            </el-table-column>
                            <el-table-column prop="fileSize" label="文件大小(KB)">
                            </el-table-column>
                            <el-table-column prop="fileSrc" label="位置">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template #default="scope">
                                    <el-button size="mini" @click="download(scope.row.fileSrc)">下载</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>
                </el-main>
            </el-container>
        </el-container>

    </div>
</body>
<script>
    const App = {
        data() {
            return {
                updateTime: '2020-11-24 11:30:24',
                filesTree: [
                    {
                        label: 'testFolder',
                        children: [
                        ],
                        fileDir: '/usr/testFolder',
                        files: [
                            {
                                fileName: 'test.txt',
                                createDate: '2020-11-24 12:30',
                                fileSize: '23211',
                                fileSrc: '/usr/testFolder/test.txt'
                            }
                        ]
                    }
                ],
                filesList: [
                    {
                        fileName: 'test.txt',
                        createDate: '2020-11-24 12:30',
                        fileSize: '23211',
                        fileSrc: '/usr/testFolder/test.txt'
                    }
                ],
                fileDir: [],
                targetFiles: [],
                searchTxt: ""
            }
        },
        methods: {
            search() {
                const _that = this
                _that.targetFiles = []
                if (_that.searchTxt.length === 0) {
                    return
                }
                _that.filesList.forEach(function (file) {
                    if (file.fileSrc.indexOf(_that.searchTxt) > -1) {
                        _that.targetFiles.push(file)
                    }
                })

            },
            download(url) {
                window.open(url)
            },
            fileFilter(data) {
                this.targetFiles = data.files
                this.fileDir = data.fileDir.split('\\\\')
                console.log(this.fileDir)
            }
        }
    }
    Vue.createApp(App)
        .use(ElementPlus)
        .mount('#app')
</script>
<style>
    .el-main {
        padding: 5px 0px 5px 0;
    }

    .el-header {
        padding-top: 10px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
    }

    .el-aside {
        padding: 5px 5px 5px 0;
    }

    .el-tree>.el-tree-node {
        min-width: 100%;
        display: inline-block;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>

</html>